.page {
  min-width: 390px;
  min-height: 100vh;
  /* Позиционирование */
  margin: 0 auto;
  /* Параметры текста */
  font-family: 'Open Sans', Arial, sans-serif;
  color: #FFFFFF;
  /* Фон */
  background: -o-linear-gradient(52.28deg, #1B4C43 0%, #431E66 99.99%, rgba(196, 196, 196, 0) 100%, #2B3A51 100%);
  background: linear-gradient(37.72deg, #1B4C43 0%, #431E66 99.99%, rgba(196, 196, 196, 0) 100%, #2B3A51 100%);
  /* Параметры оптимизации шрифта */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
