.container__title {
  margin: 0;
  /* Параметры текста */
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
}

@media screen and (max-width: 750px) {
  .container__title {
    font-size: 20px;
  }
}
