.footer__copyright-text {
  max-width: 100%;
  /* Параметры текста */
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 675px) {
  .footer__copyright-text {
    font-size: 12px;
    line-height: 14px;
  }
}

