.input__line {
  min-width: 300px;
  width: 300px;
  height: 112px;
  /* Позиционирование */
  margin: 0;
  box-sizing: border-box;
  padding: 0 30px 0;
  /* Стилизация */
  border-radius: 10px;
  opacity: 0.2;
  background-color: rgba(34, 34, 34, 1);
  border: none;
  /* Параметры текста */
  font-weight: 600;
  font-size: 60px;
  line-height: 1;
  outline: none;
  color: inherit;
}

.input__line:focus {
  background-color: rgba(34, 34, 34, 1);
}
