.input__line {
  min-width: 300px;
  width: 300px;
  height: 112px;
  /* Позиционирование */
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px 0;
  /* Стилизация */
  border-radius: 10px;
  opacity: 0.2;
  background-color: rgba(34, 34, 34, 1);
  border: none;
  /* Параметры текста */
  font-weight: 600;
  font-size: 60px;
  line-height: 1;
  outline: none;
  color: inherit;
}

.input__line:focus {
  background-color: rgba(34, 34, 34, 1);
}

@media screen and (max-width: 750px) {
  .input__line {
    min-width: 200px;
    width: 200px;
    height: 70px;
    /* Позиционирование */
    padding: 0 15px 0;
    /* Стилизация */
    border-radius: 5px;
    /* Параметры текста */
    font-size: 44px;
  }
}
