@import url(../vendor/normalize.css);
@import url(../vendor/fonts/СonquerorSans.css);

.page {
  min-width: 390px;
  min-height: 100vh;
  /* Позиционирование */
  margin: 0 auto;
  /* Параметры текста */
  font-family: 'Conqueror Sans', Arial, sans-serif;
  color: #FFFFFF;
  /* Фон */
  background: #000;
  /* Параметры оптимизации шрифта */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
