@import url(../vendor/normalize.css);
@import url(../vendor/fonts/СonquerorSans.css);

.page {
  min-width: 390px;
  min-height: 100vh;
  /* Позиционирование */
  margin: 0 auto;
  /* Параметры текста */
  font-family: 'Conqueror Sans', Arial, sans-serif;
  color: #FFFFFF;
  /* Фон */
  background: linear-gradient(37.72deg, #1B4C43 0%, #431E66 99.99%, rgba(196, 196, 196, 0) 100%, #2B3A51 100%);
  /* Параметры оптимизации шрифта */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  max-width: 1270px;
  /* Позиционирование */
  margin: 0 auto;
  box-sizing: border-box;
  padding: 72px 65px 0;
}

.header__title {
  max-width: 890px;
  /* Позиционирование */
  margin: 0;
  /* Параметры текста */
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 1;
}
