.taxes {
  max-width: 100%;
  min-height: 155px;
  /* Позиционирование */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 50px 24px;
  /* Стилизация */
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 3.2px 3.8px 28.2px 1.8px rgba(0, 0, 0, 0.25);
          box-shadow: 3.2px 3.8px 28.2px 1.8px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 750px) {
  .taxes {
    padding: 25px 25px 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
