.header__title {
  max-width: 890px;
  /* Позиционирование */
  margin: 0;
  /* Параметры текста */
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 1;
}

@media screen and (max-width: 700px) {
  .header__title {
   font-size: 70px;
  }
 }

@media screen and (max-width: 500px) {
 .header__title {
  font-size: 40px;
 }
}
